@use "reset.scss";
$bgc: #181823;
$font-color: #eeeeee;
$border: #36363d;
$input: #ffffff4d;
$items: #272733;

body {
	display: flex;
	background-color: $bgc;
	color: $font-color;
	font-family: "Roboto", sans-serif;
	span {
		text-transform: none;
	}
}
h2 {
	font-size: 26px;
	text-align: center;
	margin-bottom: 8px;
}
.buttons {
	font-size: 18px;
}
.nav {
	position: fixed;
	left: -100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 8px 0;
	font-size: 18px;
	background-color: $bgc;
	border-right: 1px solid $border;
	z-index: 999;
	span {
		width: 100%;
		margin-bottom: 15px;
		text-align: center;
		font-size: 12px;
		p {
			text-decoration: underline;
			font-style: italic;
		}
	}
	.items {
		.item {
			a {
				display: block;
				padding: 8px 12px;
				margin-bottom: 4px;
				color: $font-color;
				cursor: pointer;
			}
			&:hover {
				background-color: $border;
			}
		}
	}
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
	width: 100%;
	padding: 64px 0 32px 0;
	.nav-burger {
		display: block;
		position: fixed;
		top: 0;
		height: 42px;
		width: 100%;
		background-color: $bgc;
		border-bottom: 1px solid $border;
		&__item {
			display: block;
			background-color: #fff;
			position: absolute;
			top: 30px;
			right: 0;
			height: 4px;
			width: 30px;
			border-radius: 2px;
			&::before,
			&::after {
				display: block;
				background-color: #fff;
				position: absolute;
				height: 4px;
				width: 30px;
				left: 0;
				border-radius: 2px;
			}
			&::before {
				bottom: 35px;
			}
			&::after {
				top: 35px;
			}
		}
	}
	.section {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 64px;
		width: 100%;
	}
	.rate {
		display: flex;
		flex-direction: column;
		gap: 8px;
		max-height: 280px;
		padding: 8px;
		background-color: $items;
		border: 1px solid $border;
		border-radius: 8px;
		&__con {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 12px;
			input {
				width: 220px;
				padding: 4px;
				background-color: $input;
				border: none;
				color: $font-color;
			}
			input:focus-visible {
				outline: none;
			}
		}
	}
	.post {
		display: flex;
		flex-direction: column;
		max-height: 280px;
		padding: 8px;
		background-color: $items;
		border: 1px solid $border;
		border-radius: 8px;
		&__area {
			width: 350px;
			height: 200px;
			margin-bottom: 12px;
			padding: 8px;
			background-color: $input;
			border-radius: 8px;
			color: $font-color;
			resize: none;
		}
		textarea:focus-visible {
			outline: none;
		}
		.buttons {
			width: 160px;
		}
	}
	.new-tickets {
		display: flex;
		flex-direction: column;
		gap: 12px;
		max-height: 280px;
		padding: 8px;
		background-color: $items;
		border: 1px solid $border;
		border-radius: 8px;
		.tickets {
			font-size: 18px;
			font-weight: 700;
			color: #ff0000;
		}
		&__latest {
			display: flex;
			flex-direction: column;
			gap: 8px;
			padding: 8px;
			border: 1px solid $border;
			p {
				padding-bottom: 4px;
				border-bottom: 1px solid $border;
				span {
					font-weight: 700;
					color: #868686;
				}
			}
		}
	}

	.guard {
		input {
			width: 300px;
			height: 100px;
			font-size: 18px;
			border: none;
			border-radius: 8px;
			cursor: pointer;
		}
	}
}
.active {
	background-color: #008d00;
}
.no-active {
	background-color: #a90000;
}
@media (min-width: 576px) {
	.nav {
		position: relative;
		left: 0;
		align-items: start;
		width: 170px;
		height: 100svh;
	}
	.main .nav-burger {
		display: none;
	}
	.main .post__area {
		width: 400px;
	}
}
@media (min-width: 768px) {
	.main {
		padding: 32px;
	}
	.main .post__area {
		width: 500px;
	}
}
