@use 'subpage.scss';
@use 'site-bars.scss';
@use 'colors.scss' as *;

html {
	min-width: 1440px;
}

body {
	color: $font-color;
	background-color: #0a0e13;
	display: flex;
	justify-content: center;
}

.background {
	background-image: url('/src/img/new_bgv2.png');
	background-position: top, 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1488px;
	min-height: 1488px;
	max-height: 1488px;
	width: 2014px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	margin: 0 auto;
	height: 1488px;
	width: 1440px;
	max-width: 1440px;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 820px;
	h1 {
		position: relative;
		margin: 24px 0 16px 0;
		font-size: 32px;
		text-align: center;
		color: $main-color;
	}
	h1::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 110%;
		width: 305px;
		height: 1px;
		background-color: rgba(235, 237, 239, 0.5);
	}
	h1::after {
		position: absolute;
		content: '';
		top: 50%;
		right: 110%;
		width: 305px;
		height: 1px;
		background-color: rgba(235, 237, 239, 0.5);
	}
	.opinions {
		display: flex;
		flex-direction: column;
		gap: 16px;
		max-width: 772px;

		&__form {
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 769px;

			&-inputs {
				display: flex;
				flex-direction: column;
				gap: 4px;
				label {
					font-size: 12px;
					margin-left: 8px;
				}
				textarea,
				input {
					font-size: 14px;
					padding: 8px;
					background: rgba(199, 222, 247, 0.05);
					box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
					border: none;
					border-radius: 4px;
					color: $form-color;
					resize: none;
				}
				textarea:focus-visible,
				input:focus-visible {
					outline: 2px solid rgba(219, 233, 249, 0.2);
				}
			}
			button {
				width: 190px;
				height: 38px;
				padding: 8px 24px;
				margin-top: 8px;
				gap: 10px;
				border: none;
				background: linear-gradient(180deg, #f6d4ba 0%, rgba(246, 212, 186, 0.45) 100%);
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 50px;
				font-size: 18px;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
		&__content {
			position: relative;
			display: flex;
			gap: 74px;
			padding: 26px 16px 8px 16px;
			margin-top: 16px;
			background: rgba(199, 222, 246, 0.05);
			border-radius: 16px;
			&-item {
				width: 211px;
				height: 247px;
				font-size: 14px;
				&--data {
					margin-top: 16px;
					opacity: 0.5;
				}
			}
			&--arrow-previous,
			&--arrow-next {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				bottom: 26px;
				width: 40px;
				height: 40px;
				background-color: rgba(255, 255, 255, 0.06);
				border-radius: 50%;
				cursor: pointer;
			}
			&--arrow-next {
				right: 326px;
			}
			&--arrow-previous {
				left: 326px;
			}
		}
	}
}
